{% extends "base.html" %}

{% block titulo %} Modificar oferta {% endblock %}

{% block contenido_principal %}
<h2>Modificar oferta</h2>
<form class="form-horizontal" method="post" action="/oferta/modificar/{{ param._id.toString() }}">
    <div class="form-group">
        <label class="control-label col-sm-2" for="titulo">Título:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="titulo"
                   placeholder="Título de mi oferta" required="true"
                   value="{{ param.oferta.titulo }}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="detalles">Detalles:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="detalles"
                   placeholder="Detalles de mi oferta" required="true"
                   value="{{ param.oferta.detalles }}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="precio">Precio (€):</label>
        <div class="col-sm-10">
            <input type="number" step="0.01" class="form-control" name="precio"
                   placeholder="2.50" required="true" value="{{ param.oferta.precio }}"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Modificar</button>
        </div>
    </div>
</form>
{% endblock %}