{% extends "base.html" %}

{% block titulo %} Detalles de la oferta {{ param.oferta.titulo }} {% endblock %}

{% block contenido_principal %}
<div class="row">
    <div class="media col-xs-10">
        <div class="media-body">
            <h2>{{ param.oferta.titulo }}</h2>
            <p>{{ param.oferta.detalles }}</p>
            <p>{{ param.oferta.precio }} €</p>
            {% if param.comprado %}
            <a class="btn btn-primary pull-right">Comprada</a>
            {% else %}
            <a class="btn btn-primary pull-right"
               href="/oferta/comprar/{{param.oferta._id.toString()}}">Comprar</a>
            {% endif %}
            <!-- Cambiar el precio por "reproducir" si ya está comprada -->

        </div>
    </div>
</div>
{% endblock %}