{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %} 

{% block contenido_principal %}
<h2>Mis publicaciones</h2>

<!-- Agregar Canción -->
<div class="row text-right">
	<a href="/ofertas/agregar" class="btn btn-info" role="button">Agregar oferta</a>
</div>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Genero</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for cancion in canciones %}
			<tr>
				<td>{{ cancion.nombre }}</td>
				<td>{{ cancion.genero }}</td>
				<td><a href="/oferta/modificar/{{ cancion._id.toString() }}">Modificar</a> <br>
					<a href="/oferta/eliminar/{{ cancion._id.toString() }}">Eliminar</a> <br>
			    </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<!-- Agregar Canción -->
<div class="row text-right">
	<a href="/ofertas/agregar" class="btn btn-info" role="button">Agregar canción</a>
</div>

{% endblock %}
