{% extends "base.html" %}

{% block titulo %} Wallapop {% endblock %}

{% block contenido_principal %}

<h2>Usuarios</h2>
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in param %}
            {% if usuario.rol !==0 %}
            <tr>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellidos }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    <input type="checkbox" onchange="manageList()"/>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<button onclick="removeChecked()">Eliminar</button>

<script>

    var eliminados = [];

    function manageList(user) {
        console.log(eliminados);
        if (eliminados.includes(user)) {
            console.log("insertando");
            var i = eliminados.indexOf(user);
            eliminados.splice(i,1);
        }
        else {
            console.log("eliminando");
            eliminados.push(user);
        }
    }

    function removeChecked() {
        for (let user of eliminados) {
            $.get("/usuario/eliminar/"+user);
        }
    }

</script>

{% endblock %}